---
title: Produktentwicklung
description: |
  Die Produktentwicklung ist eine neue Disziplin die mir großen Spass macht.
  Nun ist es an der Zeit, Ihnen bei Ihren Ideen zu helfen!
permalink: /produktentwicklung/

image: /images/pages/services.png

---

<%= render UI::SimpleLayout.new(
  title: "Need a hand with your Turbo Native app? I'd love to help.",
  intro: resource.data.description
) do %>
  <div class="flex max-w-xl flex-col space-y-16">
    <% site.data.services_productdevelopment.each do |service| %>
      <%= render Service.new(**{href: site.data.socials.email.href}.merge(service).to_options) %>
    <% end %>
  </div>
<% end %>
