---
title: Softwareentwicklung
description: |
  Seit 2012 bin ich in der Softwareentwicklung zu Hause. Während dieser Zeit habe ich kleine und große Firmen als Softwareentwickler unterstützt.
  Nun ist es an der Zeit, Sie bei Ihren Ideen zu unterstützen!
permalink: /softwareentwicklung/

image: /images/pages/services.png

---

<%= render UI::SimpleLayout.new(
  title: "Brauchen Sie die Hilfe eines Softwareentwicklers? Ich freue mich Sie zu unterstützen!",
  intro: resource.data.description
) do %>
  <div class="flex max-w-xl flex-col space-y-16">
    <% site.data.services_softwaredevelopment.each do |service| %>
      <%= render Service.new(**{href: site.data.socials.email.href}.merge(service).to_options) %>
    <% end %>
  </div>
<% end %>
