<div class="flex justify-start items-center mt-16">
  <img src="/images/sebastian-bachmann.png" class="rounded-full h-24 w-24 sm:h-32 sm:w-32">

  <div class="flex flex-col -space-y-0.5 text-sm sm:text-base text-zinc-600 ml-6">
    <div>Vielen Dank,</div>
    <div>Sebastian Bachmann</div>
    <a href="https://twitter.com/buk" class="font-semibold underline">@buk</a>
    <a href="mailto:hi@sebastianbachmann.de" class="font-semibold underline">hi@sebastianbachmann.de</a>
  </div>
</div>
